//Colors
$color-primary: #F80404;
$color-primary-hover: #970404;
$color-primary-accent: #fff2f2;
$color-button-primary: #090404;

//Systems
$color-danger: #EF233C;
$color-danger-accent: #ffdee1;
$color-warning: #F4B942;
$color-warning-accent: #fff4e1;
$color-success: #06A77D;
$color-successAccent: #e7fff9;
$color-info: #0B3948;
$color-info-accent: #d5f4ff;
$color-background: #EDF2F4;
$color-text: #0C120C;
$color-white: #fff;
$color-black: #000;

//Font Styles
$font-regular: "Author-Regular", sans-serif;
$font-medium: "Author-Medium", sans-serif;
$font-italic: "Author-Italic", sans-serif;
$font-bold: "Author-Bold", sans-serif;